# FILE LOCATION : /etc/vitrage-dashboard/setting.conf

[Default]
actions = mistral,rally,zabbix,nagios,checkpoint,testing

[zabbix]
#url = http://[zabbix server's IP:PORT]/zabbix

[nagios]
#url = http://[nagios server's IP:PORT]/nagios


