<div>
     <div ng-repeat="actionname in action track by actionname">
         <div rowspan="{action.length}}" data-ng-show="$first">
               <div  ng-switch="actionname">
                   <div ng-switch-when="Mistral">
                        <hz-workflow-execute action="action"
                                            detailedAction="detailedAction"></hz-workflow-execute>
                   </div>
                   <div ng-switch-when="Rally">
                        <hz-actions-performance action="action"></hz-actions-performance>
                   </div>

                   <!--7/11 실습-->
                   <div ng-switch-when="Checkpoint">
                        <hz-actions-checkpoint action="action"></hz-actions-checkpoint>
                   </div>

                    <!--7/13 실습-->
                   <div ng-switch-when="Testing">
                        <hz-actions-testing action="action"></hz-actions-testing>
                   </div>

                   <div ng-switch-when="Monitoring">
                       <hz-actions-monitoring action="action"></hz-actions-monitoring>
                   </div>

                   <div ng-switch-when="Apimonitor">
                       <hz-actions-apimonitor action="action"></hz-actions-apimonitor>
                   </div>
               </div>
          </div>
     </div>
</div>