<div class="modal-content monitoring">
    <div class="modal-header" ng-model="action">
        <a href="#" class="close" ng-click="closeModal()">
        </a>
        <div ng-repeat="title in action ">
            <div rowspan="{list.length}}" data-ng-show="$first">
                <h3  class="modal-title">{{title}}</h3>
            </div>
        </div>
    </div>
      <form id="apimonitor_form" name="apimonitor_form" class="ng-pristine ng-valid ng-scope">
            <div class="modal-body clearfix" ng-init = "selectedWorkflow = 'None'">

                <div class="left">
                     <div ng-repeat="value in info track by value">
                         <label class="control-label required"><span class="field-label">{{value}}</span></label>
                         <input type="text" required id={{value}} class="form-control"/>
                     </div>
                </div>

                <div class="form-group right">
                    <label class="control-label">app_status</label>
                      <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedStatus">
                        <option ng-repeat="value in status" value="{{value}}">{{value}}</option>
                      </select>
                      <div ng-show="selectedStatus=='True'">
                            <label class="control-label">Condition</label>
                            <input type="text" id="condition" class="form-control">
                      </div>

                    <label class="control-label">app_memory</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedMemory">
                        <option ng-repeat="value in memory" value="{{value}}">{{value}}</option>
                    </select>
                      <div ng-show="selectedMemory=='True'">
                            <label class="control-label">Condition</label>
                            <input type="text" id="condition2" class="form-control">
                      </div>

                       <label class="control-label">OS agent info</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedAgent">
                        <option ng-repeat="value in agentinfo" value="{{value}}">{{value}}</option>
                    </select>
                      <div ng-show="selectedAgent=='True'">
                            <label class="control-label">Condition</label>
                            <input type="text" id="condition3" class="form-control">
                      </div>

                    <label class="control-label">OS agent info</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedValue">
                        <option ng-repeat="value in procvalue" value="{{value}}">{{value}}</option>
                    </select>
                      <div ng-show="selectedValue=='True'">
                            <label class="control-label">Condition</label>
                            <input type="text" id="condition4" class="form-control">
                      </div>

                     <label class="control-label">OS cpu load</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedLoad">
                        <option ng-repeat="value in load" value="{{value}}">{{value}}</option>
                    </select>
                      <div ng-show="selectedLoad=='True'">
                            <label class="control-label">Condition</label>
                            <input type="text" id="condition5" class="form-control">
                      </div>

                    <label class="control-label">OS cpu usage</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedUsage">
                        <option ng-repeat="value in usage" value="{{value}}">{{value}}</option>
                    </select>
                      <div ng-show="selectedUsage=='True'">
                            <label class="control-label">Condition</label>
                            <input type="text" id="condition6" class="form-control">
                      </div>
                </div>


                    <h3>Condition Usage:</h3>
                    <p>less, value</p>
                    <p>greater, value</p>
                    <p>and less, value</p>
                    <p>and greater, value</p>
                    <p>down</p>
                </div>


        <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-right"
                    ng-click="getData(selectedStatus)">Request</button>
            <button type="button" style="margin-right:8px"  class="btn btn-default pull-right" ng-click="closeModal()">Cancel</button>
        </div>
    </form>
</div>
