<div class="modal-content monitoring">
    <div class="modal-header" ng-model="action">
        <a href="#" class="close" ng-click="closeModal()">
        </a>
        <div ng-repeat="title in action ">
            <div rowspan="{list.length}}" data-ng-show="$first">
                <h3  class="modal-title">{{title}}</h3>
            </div>
        </div>
    </div>
        <form id="monitoring_form" name="monitoring_form" class="ng-pristine ng-valid ng-scope">
            <div class="modal-body clearfix" ng-init = "selectedWorkflow = 'None'">
                <div class="left">
                    <label class="control-label">Monitoring tool</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedMonitor">
                        <option ng-repeat="value in monitortool" value="{{value}}">{{value}}</option>
                    </select>
                    <label class="control-label">Zabbix Host Type</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedHost">
                        <option ng-repeat="value in hosttype" value="{{value}}">{{value}}</option>
                    </select>

                      <fieldset>
                                 <div ng-repeat="value3 in tool[selectedMonitor] track by value3">
                                     <label class="control-label required"><span class="field-label">{{value3}}</span></label>
                                     <input type="text" required id={{value3}} class="form-control"/>
                                 </div>
                    </fieldset>
                    <fieldset>
                                 <div ng-repeat="value4 in host[selectedHost] track by value4">
                                     <label class="control-label required"><span class="field-label">{{value4}}</span></label>
                                     <input type="text" required id={{value4}} class="form-control"/>
                                 </div>
                    </fieldset>
                </div>

                <div class="form-group right">
                    <h3>Description:</h3>
                    <p>From here you can monitor a workflow.</p>
                </div>

            </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-right"
                    ng-click="getData(selectedMonitor, selectedHost)">Request</button>
            <button type="button" style="margin-right:8px"  class="btn btn-default pull-right" ng-click="closeModal()">Cancel</button>
        </div>
    </form>
</div>