
<!--7/11 실습-->
<div class="modal-content checkpoint">
    <div class="modal-header" ng-model="action">
        <a href="#" class="close" ng-click="closeModal()">
        </a>
        <div ng-repeat="title in action ">
            <div rowspan="{list.length}}" data-ng-show="$first">
                <h3  class="modal-title">{{title}}</h3>
            </div>
        </div>
    </div>
        <form id="checkpoint_form" name="checkpoint_form" class="ng-pristine ng-valid ng-scope">
            <div class="modal-body clearfix" ng-init = "selectedWorkflow = 'None'">
                <div class="left">
                    <label class="control-label">Check_list</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedCheck">
                        <option ng-repeat="value in checkAction" value="{{value}}">{{value}}</option>
                    </select>
                    <label class="control-label">Security</label>
                    <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty select-modal" ng-model="selectedSecurity">
                        <option ng-repeat="value in securityAction" value="{{value}}">{{value}}</option>
                    </select>

                      <fieldset>
                                 <div ng-repeat="value in security[selectedSecurity] track by value">
                                     <label class="control-label required"><span class="field-label">{{value}}</span></label>
                                     <input type="text" required id={{value1}} class="form-control"/>
                                 </div>
                          <fieldset>
                                 <div ng-if="value != ping">
                                     Same Ping Security
                                 </div>
                          </fieldset>
                    </fieldset>
                    <fieldset>
                                 <div ng-repeat="value in check[selectedCheck] track by value">
                                     <label class="control-label required"><span class="field-label">{{value}}</span></label>
                                     <input type="text" required id={{value2}} class="form-control"/>
                                 </div>
                    </fieldset>
                </div>

                <div class="form-group right">
                    <h3>Description:</h3>
                    <p>From here you can execute a workflow.</p>
                </div>

            </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary pull-right"
                    ng-disabled="checkpoint_form.$invalid || selectedWorkflow == 'None'"
                    ng-click="getData(selectedWorkflow)">Request</button>
            <button type="button" style="margin-right:8px"  class="btn btn-default pull-right" ng-click="closeModal()">Cancel</button>
        </div>
    </form>
</div>
